.pe-input-tooltip {
	display: block;

	.wds-input {
		margin: 0 0 6px;

		&.has-error {
			margin-bottom: 0;
		}

		&__field-wrapper {
			border-bottom: 1px solid #c5ced9;
			display: flex;
		}

		&__field {
			border-bottom: 0;
			flex: 1;
			line-height: $wds-line-height-normal;
			margin-right: 12px;
		}
	}

	.wds-icon {
		cursor: pointer;
	}

	&__accept {
		color: $wds-color-success;
	}

	&__remove {
		color: #ed1c24;
		margin-right: 18px;
	}

	&__suggestions.wds-dropdown__content {
		background-color: $wds-fandom-color-light-gray;
		border: 0;
		border-radius: 0;
		box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .3);
		left: 0;
		right: 0;
		top: calc(100% + 1px);
		transform: none;

		.wds-list.wds-is-linked > li:hover:not(.wds-is-selected) > a {
			background-color: inherit;
			color: inherit;
		}
	}

	&:not(.has-suggestions) &__suggestions {
		display: none !important;
	}
}
