.pe-input-tooltip {
	.wds-input {
		margin: 0 0 6px;

		&.has-error {
			margin-bottom: 15px;
		}

		&__field-wrapper {
			border-bottom: 1px solid #c5ced9;
			display: flex;
		}

		&__field {
			border-bottom: 0;
			flex: 1;
			line-height: $wds-line-height-normal;
			margin-right: 12px;
		}
	}

	.wds-icon {
		cursor: pointer;
	}

	&__accept {
		color: $wds-color-success;
	}

	&__remove {
		color: #ed1c24;
		margin-right: 18px;
	}
}
