.ql-container .ql-editor {
	padding: 7px 0 10px 0;

	// placeholder styling
	&.ql-blank::before {
		font-size: 1rem;
		font-style: normal;
		font-weight: $wds-font-weight-normal;
		left: 0;
		line-height: $wds-line-height-normal;
		right: 0;
	}
}

.pe-wrapper {
	// to make sure we are always positioning editor tooltips relatively to the same element
	position: relative;
}
